/*****************************************************************************************/
/**                     AUTHOR: MARIO ANTONIO CRIADO MADUEÑO                            **/
/**                                                                                     **/        
/**                     FIRST RELEASE: 2023 - 11 - 03  08:50 MÁLAGA,SPAIN               **/
/**                                                                                     **/        
/**                     CURRENT VERSION:  5.                                            **/
/**                                                                                     **/        
/**                                                                                     **/
/**                                                                                     **/    
/**                                                                                     **/

/**************************            FONTS                 *****************************/
@font-face {
    font-family: monofonto;
    src: url(../font/monofonto/monofonto\ rg.otf);
}

@font-face {
    font-family: alien;
    src: url(../font/alien/DCC\ -\ The\ alien\ are\ coming.ttf);
}

@font-face {
    font-family: alien-encounter;
    src: url(../font/alien-encounter/Alien-Encounters-Regular.ttf);
}

/***************************  BOLD TEXT **************************************************************/



b{color: rgba(234, 0, 255, 0.829);
    text-shadow: 0px -1px 11.7px rgba(234, 0, 255, 0.568);
}

b #p1{
    text-shadow: inherit;
}

b:hover{color: rgb(189, 53, 252);}



/************************ ENLACES *************************/

a{color: inherit ;
  text-shadow: inherit;
  text-decoration: none;
}










/*********************************** BLOCKQUOTE & CITES ***************************************************/

blockquote{margin-left: auto ;
        margin-right:auto;
        margin-top: 7%;
        margin-bottom: 9%;
        border-left: solid 6.5px rgba(30, 255, 0, 0.915);
        border-right: solid 6.5px rgba(30, 255, 0, 0.915);
        box-shadow: -4px -1px 2px -2px rgb(30, 255, 0, 0.300);
        box-shadow: 4px 1px -2px 2px rgb(30, 255, 0, 0.300);
        border-radius: 5%;
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;

}


/****************************       GENERAL LAYOUT      ************************************/


body{/*background-color: rgb(0, 0, 0);*/
    background-image: url(../img/binary-pattern.png);
    background-size: 35%;
    color: rgb(30, 255, 0);
    font-family: monofonto;
    font-size: 1.25em;
    font-weight: bold;}

#wrapper {width: 82%;
        margin: auto;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        background-color: rgb(0, 0, 0);
        border: solid 3.5px rgb(30, 255, 0);
        border-radius: 0.9%;
        box-shadow: 1px 1px 25px 3px;
}

#welcome {background-color: black;
        color: rgb(174, 235, 166);
        font-size: 45px;;
        text-shadow: rgb(132, 0, 255) 5px 4px 7px;
        border-top: solid 3.1px rgb(30, 255, 0);
        border-left: solid 3.0px rgb(30, 255, 0);
        border-radius: 5%;
        box-shadow: inset 4px 4px 5px 2px rgba(30, 255, 0, 0.514);
        margin-top: 25%;
        padding: 0.5%;
        letter-spacing: 15px;
        }

#welcome:hover{background-color: black;
    color: greenyellow;

    text-shadow: rgba(0, 255, 13, 0.568) 5px 4px 7px;
    border-top: solid 3.1px rgb(30, 255, 0);
    border-left: solid 3.0px rgb(30, 255, 0);
    border-radius: 5%;
    box-shadow: inset 4px 4px 5px 2px rgba(30, 255, 0, 0.514);
    cursor:cell;

}


#titleaboutme{text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568);}
#titlecountry{text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568);}


hr{ border: solid 1.5px rgb(30, 255, 0);
    box-shadow: 1px 1px 6px 2px rgba(30, 255, 0, 0.514);
    width: 30%}


#p1{text-align: justify;
                margin-left: 17%;
                margin-right: 17%;
                text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568);}
#p2{text-align: center;
    margin-left: 17%;
    margin-right: 17%;
    text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568);}

#p3{text-align: justify;
     margin-left: 17%;
     margin-right: 17%;
    text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568);}

#letrachica{text-align: right;
    font-size: 12.8px;}



#hr3{
    margin-top: 10%;
}







/************************** SECTIONS ****************************************************/



#aboutme {text-align: center;
        margin-top: 90px;}


#interests{text-align: center;
    margin-top: 5%;
    margin-bottom:10% ;}

#country{text-align: center;
    margin-top: 5%;
    margin-bottom:10%

}






/************************ ACCORDION **************************************************/

.accordion {background-color: black ;
    width: 100%;
    margin-top: 0.5%;
    font-family: monofonto;
    font-size: 1.05em;
    border: solid 1.5px rgb(30, 255, 0);
    box-shadow: 1px 1px 6px 2px rgba(30, 255, 0, 0.714);
    text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568);
  }
  
  .active, .accordion:hover {
    color: #000000;
    background: rgb(30, 255, 0);
    border: 2.3px solid #010305;
    text-shadow: 0 0 5px #00ff22,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px rgb(30, 255, 0),
                0 0 20px rgb(30, 255, 0)
                0 0 50px rgb(30, 255, 0),
                0 0 100px rgb(30, 255, 0);
    cursor:pointer;
    padding: 0.5%;
    border: solid 1.5px rgb(30, 255, 0);
    box-shadow: 1px 1px 6px 2px rgba(30, 255, 0, 0.514);
    width: 80%;
    
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    text-align: justify;
    margin-left: 17%;
    margin-right: 17%;
    text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568);
    
  }








/************************           HERO SECTION                ********************************/




#hero {background-image: url(../img/defalien.jpg);
    height: 70%;  
    background-size: 210%; 
    background-repeat: no-repeat;
    background-position: 48% 30%;
    border: solid 3px white;
    border-radius: 1.4%;
    box-shadow: 0px 0px 20px 6px;
    color: white;
    padding: 1%;
    text-align: center;
    width: 95%;
    margin: 3% auto;
    letter-spacing: 8px;
    } 





/**********************            NAVIGATION BAR                 **************************/

nav{text-align: center;
    padding: 2%;
    font-size: 25px;
    color: rgb(30, 255, 0);
    text-shadow: 4px 1px 5px rgb(175, 3, 255);
    font-family: alien-encounter;
    letter-spacing: 8px;}

/*nav:hover{text-align: center;
    padding: 2%;
    font-size: 27px;
    color: rgb(175, 3, 255);
    text-shadow: 4px 1px 5px rgb(30, 255, 0);
    font-family: alien-encounter;
    letter-spacing: 8px;
    cursor:pointer}*/




.navsec{
    float: left;
}



/**************************** MULTIMEDIA *********************************************************/


#marcianito{ 
    padding-left: 38%;
    padding-right: 38%;
    padding-top: 20px;
    padding-bottom: 25px;
}


#music{margin-left: 44%;
        width: 150px;
        height: 15px;}


#mario{border: solid 1px rgb(48, 230, 102);
        border-radius: 15%;
        box-shadow: 0px 0px 5.5px 6px;
        color: rgba(30, 255, 0, 0.849);
        margin: 30px auto;
        filter: saturate(400%);}
        
#mario:hover{border: solid 1px rgb(48, 230, 102);
    border-radius: 15%;
    box-shadow: 0px 0px 5.5px 6px;
    color: rgba(255, 255, 255, 0.849);
    margin: 30px auto;
    filter: contrast(110%);
    filter: saturate(1000%);

}

#torandom{filter: grayscale(100%);
}
#torandom:hover{filter: brightness(100%);
                filter: contrast(110%);}


#marco-aurelio{float: left;
                width: 15%;
                margin-right: 10px;
                margin-top: 5%;
                filter: drop-shadow(0 0 5px rgb(30, 255, 0));}

#marco-aurelio:hover{float: left;
            width: 15%;
            margin-right: 10px;
            margin-top: 5%;
            filter: drop-shadow(0 0 5px rgb(255, 255, 255));
            cursor: pointer;}

#linkedin{border: solid 1px rgb(225, 230, 236);
    border-radius: 15%;
    box-shadow: 0px 0px 5.5px 6px;
    color: rgba(255, 255, 255, 0.849);
    margin: 30px auto;
    filter: saturate(110%);


}

/************************** PROFILE PHOTO FLIP !!!!!!! **********************************************/


/*** ((I NEED THESE COMMENTS FOR NEXT CONFIGS, THE PROCESS ARE COMPLEX)) *****/

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
margin: auto;
    background-color: transparent;
    width: 150px;
    height: 170px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    cursor: pointer;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 150px;
    height: 170px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {

    color: black;
  }
  
  /* Style the back side */


   .flip-box-back {
    color: white;
    transform: rotateY(180deg); 
  }


.flip-box{
    margin-bottom: 5%;
}



/****************************   GALLERY   *****************************************************/


div.scroll-container {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.568), rgb(0, 0, 0));
    border-top: solid 5px;
    border-right: solid 4px;
    border-left: solid 4px;
    border-radius: 9.9%;
    box-shadow: 0px -10px 20px 2px rgba(30, 255, 0, 0.814);
    box-shadow: #ffffff;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 8%;
  }
  
  div.scroll-container img {
    padding: 10px;
  }




/************************************ IMAGES *****************************************************/

#sevilla{filter: opacity(35%);
    border-radius: 5%;}

#sevilla:hover{
        filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;
}

#malaga{filter: opacity(35%);
    border-radius: 5%;}

#malaga:hover{filter: brightness(115%);
    filter: saturate(110%);
    cursor: help;}

#malaga2{filter: opacity(35%);
        border-radius: 5%;}
    
#malaga2:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}
  
#ronda{filter: opacity(35%);
        border-radius: 5%;}
    
#ronda:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#ronda2{filter: opacity(35%);
        border-radius: 5%;}
    
#ronda2:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}
    
#saturno{filter: opacity(35%);
        border-radius: 5%;}
    
#saturno:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#saturno-city{filter: opacity(35%);
        border-radius: 5%;}
    
#saturno-city:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}
    
#cartama{filter: opacity(35%);
        border-radius: 5%;}
    
#cartama:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}
    
#granada{filter: opacity(35%);
        border-radius: 5%;}
    
#granada:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#montefrio{filter: opacity(35%);
        border-radius: 5%;}
    
#montefrio:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}
    
#estepona{filter: opacity(35%);
        border-radius: 5%;}
    
#estepona:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#cadiz{filter: opacity(35%);
        border-radius: 5%;}
    
#cadiz:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#sevilla2{filter: opacity(35%);
        border-radius: 5%;}
    
#sevilla2:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#toledo{filter: opacity(35%);
        border-radius: 5%;}
    
#toledo:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#avila{filter: opacity(35%);
        border-radius: 5%;}
    
#avila:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#segovia-alcazar{filter: opacity(35%);
        border-radius: 5%;}
    
#segovia-alcazar:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#segovia-acueducto{filter: opacity(35%);
        border-radius: 5%;}
    
#segovia-acueducto:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#valencia-museo{filter: opacity(35%);
        border-radius: 5%;}
    
#valencia-museo:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#madrid{filter: opacity(35%);
        border-radius: 5%;}
    
#madrid:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#barcelona{filter: opacity(35%);
        border-radius: 5%;}
    
#barcelona:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}

#covadonga{filter: opacity(35%);
        border-radius: 5%;}
    
#covadonga:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}


#galicia{filter: opacity(35%);
        border-radius: 5%;}
    
#galicia:hover{filter: brightness(115%);
        filter: saturate(110%);
        cursor: help;}



/******************** GRID ****************************/


.grid-1{display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 16%;
        margin-top: 3%;
        margin-bottom: 1%;
        
        }


.col-1{text-align: center;
        border: solid ;
        padding-top: 10%;
        padding-bottom: 15%;
        font-size: large;
        box-shadow:1px 1px 6px 2px rgba(30, 255, 0, 0.514) ;
        margin-right: 4%;
        border-radius: 16%;
        transition: 0.2s ease-out}

.col-1:hover{text-align: center;
    /*padding: 2%*/;
    font-size: medium;
    color: greenyellow;
    text-shadow: 4px 1px 5px rgb(30, 255, 0);
    font-family: alien-encounter;
    letter-spacing: 4px;
    cursor:pointer;
    zoom: 108%;
    box-shadow:1px 1px 15px 4px rgba(30, 255, 0, 0.914)}

.grid-2{display: grid; /* el contenedor va a sufrir división*/
        grid-template-columns: 10% 10% 10% 6% 16% 29% 20%;
        text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568);
        font-size: 0.75em;
        margin: 2%;}




/************************ BUTTONS ****************************/


button {
    font-family: monofonto;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(30, 255, 0);
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 2px solid rgb(30, 255, 0);
    transition: 0.5s ease;
    user-select: none;
}

#btn{margin-bottom: 4%;
    margin-top: 3%;
    width: 12%;
    text-shadow: 0px -1px 7.5px rgba(0, 255, 13, 0.568)
}



#btn:hover,:focus {
    color: #000000;
    background: rgb(30, 255, 0);
    border: 2.3px solid #010305;
    text-shadow: 0 0 5px #00ff22,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px rgb(30, 255, 0),
                0 0 20px rgb(30, 255, 0)
                0 0 50px rgb(30, 255, 0),
                0 0 100px rgb(30, 255, 0);
    cursor:pointer;
}

#texto-oculto{display: none;}










/************** FLECHA ESTÁTICA **************/


#flechaarriba {                                 /*********thanks to hendra fhx for the png image <3********************/
        position: fixed;
        bottom: 20px; 
        right: 1px; 
        z-index: 99; 
        cursor: pointer;
        padding: 15px; 
        border-radius: 10px;
        width: 5%;
        opacity: 0.4 ;
    }

#flechaarriba:hover{

        position: fixed;
        bottom: 20px; 
        right: 1px; 
        z-index: 99; 
        cursor: pointer;
        padding: 15px; 
        border-radius: 10px;
        width: 5%;
        opacity: 1 ;
        filter: brightness(105%);
}














/*********************************** responsivity *************************************/




@media only screen and (max-width: 790px) {                     /***************** SHORT SCREENS ****************/


#welcome{width: auto;
        font-size: 1.1em;}
#marcianito{
        padding-left: 25%;
        padding-right: 38%;
        padding-top: 20px;
        padding-bottom: 25px;
        width: 200px;}
    
#titleaboutme{font-size: 19px}
#titlecountry{font-size: 19px;}
#p{font-size: 15px;
        margin-left: 10%;
        margin-right: 10%;}
#p1{font-size: 15px;
        margin-left: 10%;
        margin-right: 10%;}
#p2{font-size: 15px;
        margin-left: 10%;
        margin-right: 10%;}
#p3{font-size: 15px;
        margin-left: 10%;
        margin-right: 10%;}
#blockquote{font-size: 15px;}
#blqt{font-size: 15px;}
#marcusquote{font-size: 15px;}
#p4{font-size: 15px;
        margin-left: -3%;
        margin-right: -3%;}

#blqt{margin-right: 100%;
        margin-left: 0%;
        width: 80%;}

.col-1{
                text-align: center;
                border: solid ;
                padding-top: 10%;
                padding-bottom: 15%;
                font-size: 8px;
                box-shadow:1px 1px 6px 2px rgba(30, 255, 0, 0.514) ;
                margin-right: 4%;
                border-radius: 16%;
                transition: 0.2s ease-out;
                letter-spacing: 2px;
        }
        
        
.col-1:hover{text-align: center;
                /*padding: 2%*/;
                font-size: 7px;
                color: greenyellow;
                text-shadow: 4px 1px 5px rgb(30, 255, 0);
                font-family: alien-encounter;
                letter-spacing: 4px;
                cursor:pointer;
                zoom: 90%;
                box-shadow:1px 1px 15px 4px rgba(30, 255, 0, 0.914)}
        
#btn{width: 30%;}


.accordion{font-size: 17px;}


.col-2{font-size: 6px;}
.col-2:hover{zoom: 150%;
             letter-spacing: 1px;}










#malaga{width: 180px; height: 120px;}
#malaga2{width: 180px; height: 120px;}
#sevilla{width: 180px; height: 120px;}
#ronda{width: 180px; height: 120px;}
#ronda2{width: 180px; height: 120px;}
#saturno{width: 180px; height: 120px;}
#saturno-city{width: 180px; height: 120px;}
#cartama{width: 180px; height: 120px;}
#granada{width: 180px; height: 120px;}
#montefrio{width: 180px; height: 120px;}
#estepona{width: 180px; height: 120px;}
#cadiz{width: 180px; height: 120px;}
#sevilla2{width: 180px; height: 120px;}
#toledo{width: 180px; height: 120px;}
#avila{width: 180px; height: 120px;}
#segovia-alcazar{width: 180px; height: 120px;}
#segovia-acueducto{width: 180px; height: 120px;}
#valencia-museo{width: 180px; height: 120px;}
#madrid{width: 180px; height: 120px;}
#barcelona{width: 180px; height: 120px;}
#covadonga{width: 180px; height: 120px;}
#galicia{width: 180px; height: 120px;}

/****** FLIP BOX FOR SHORT SCREENS ***********/

#mario{width: 100px; height: 120px;}
#linkedin{width: 100px; height: 120px;}

}

@media only screen and (min-width: 601px) and (max-width: 1204px) {     /***************** MEDIUM SCREENS ****************/


.col-1{
        text-align: center;
        border: solid ;
        padding-top: 10%;
        padding-bottom: 15%;
        font-size: 13px;
        box-shadow:1px 1px 6px 2px rgba(30, 255, 0, 0.514) ;
        margin-right: 4%;
        border-radius: 16%;
        transition: 0.2s ease-out;
        letter-spacing: 2px;
}


.col-1:hover{text-align: center;
        /*padding: 2%*/;
        font-size: 10px;
        color: greenyellow;
        text-shadow: 4px 1px 5px rgb(30, 255, 0);
        font-family: alien-encounter;
        letter-spacing: 4px;
        cursor:pointer;
        zoom: 108%;
        box-shadow:1px 1px 15px 4px rgba(30, 255, 0, 0.914)}

#btn{width: 20%;

}

#marco-aurelio{float: left;
        width: 20%;
        padding-right: -20%;
        margin-top: 20%;
        filter: drop-shadow(0 0 5px rgb(30, 255, 0));}

#marco-aurelio:hover{float: left;
    width: 15%;
    margin-right: 10px;
    margin-top: 5%;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    cursor: pointer;}


    }
    

@media only screen and (min-width: 1025px) {                    /***************** BIG SCREENS ****************/
       
    }













    
